<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="stylesheet" href="./node_modules/furtive/css/furtive.min.css">
  <link rel="stylesheet" href="./node_modules/font-awesome/css/font-awesome.min.css">

  <style>
    #app {
      margin: 1.5rem;
    }
    h1 {
      font-size: 2rem;
      margin-bottom: 1rem;
    }
    #choice-count {
      width: 100px;
    }
  </style>

  <title>LE Roulette</title>
</head>

<body>
  <div id="app">
    <h1>LE Roulette</h1>
    <div id="input-area">
      <label for="new-item">新しい候補を追加</label><input id="new-item" type="text" v-model="newItem">
      <button class="btn--blue" @click="addItem">追加</button>
    </div>

    <!-- 候補のリスト -->
    <ul id="itemlist" class="grd">
      <li v-for="(item, index) in itemList" class="grd-row">
        <div class="grd-row-col-4-6" :style="itemStyle(index)">{{ item.text }}</div>
        <div class="grd-row-col-1-6">
          <a href="" @click.prevent="toggleItem(index)">
            <i v-if="itemList[index].rest" class="fa fa-plus" aria-hidden="true"></i>
            <i v-else class="fa fa-minus" aria-hidden="true"></i>
          </a>
        </div>
        <div class="grd-row-col-1-6">
          <a href="" @click.prevent="deleteItem(index)">
            <i class="fa fa-times" aria-hidden="true"></i>
          </a>
        </div>
      </li>
    </ul>

    <template v-if="itemList.length >= 2">
      いくつ選びますか？<input id="choice-count" type="number" min="1" :max="itemList.length" v-model="n">
      <button id="choiceButton" @click="choiceItem">実行</button>
    </template>

    <!-- 選択結果のリスト -->
    <ul id="result">
      <li v-for="(result, index) in resultList">
        {{ result }}
      </li>
    </ul>

  </div>

  <script src="./node_modules/vue/dist/vue.min.js"></script>
  <script src="./index.js"></script>
</body>

</html>